@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  background: hsl(0, 100%, 74%) url("./images/bg-intro-mobile.png") center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  #root {
  background: hsl(0, 100%, 74%) url("./images/bg-intro-desktop.png") center;
  }
}

.App {
  text-align: center;
  margin: 0 10%;
  padding-top: 100px;
  padding-bottom: 80px;
}

@media screen and (min-width: 1024px) {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* 
Intro
*/

.intro {
  margin: 0 auto 60px auto;
  color: white;
}

@media screen and (min-width: 1024px) {
  .intro {
    grid-row: 1 / span 2;
    align-self: center;
  }
}

.intro__title {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

/* 
Payment
*/

.payment-info {
  padding: 15px 30px;
  margin-bottom: 30px;
  color: white;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.15) 0px 10px 0px;
}

@media screen and (min-width: 1024px) {
  .payment-info {
    align-self: flex-end;
  }
}

/* 
Sign-Up Form
*/

.sign-up {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.15) 0px 10px 0px;
}

@media screen and (min-width: 1024px) {
  .sign-up {
    padding: 30px;
    align-self: flex-start;
  }
}

.sign-up__form {
  display: grid;
  row-gap: 15px;
}

.sign-up__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sign-up__form-input {
  padding: 15px;
  border-radius: 10px;
  border: thin solid rgb(180, 180, 180);
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .sign-up__form-input {
    padding: 15px 20px;
  }
}

/* 
Sign-Up Form Error
*/

.input-field--error {
  border: thin solid hsl(0, 100%, 74%);
  transition: border 0.3s ease;
}

.sign-up__error-text {
  color: hsl(0, 100%, 74%);
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: right;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sign-up__error-text--active {
  max-height: 100%;
  overflow: visible;
  opacity: 1;
}

.sign-up__error-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sign-up__error-icon--active {
  opacity: 1;
}

.sign-up__button {
  padding: 20px;
  width: 100%;
  background-color: rgb(0, 177, 80);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.sign-up__button:hover {
  background-color: rgb(68, 224, 139);
}

/* 
Agreement
*/

.sign-up__agreement {
  margin-top: 15px;
  font-size: 0.8rem;
  color: hsl(246, 25%, 77%);
}

.sign-up__agreement-link {
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  text-decoration: none;
}

.sign-up__agreement-link:visited {
  color: hsl(246, 25%, 77%);
}
